[submodule "ThirdParty/soundtouch"]
	path = ThirdParty/soundtouch
	url = https://codeberg.org/soundtouch/soundtouch.git
[submodule "Submodules/moonbase_JUCEClient"]
	path = Submodules/moonbase_JUCEClient
	url = https://github.com/Moonbase-sh/moonbase_JUCEClient.git
[submodule "Submodules/pluginval"]
	path = Submodules/pluginval
	url = https://github.com/Tracktion/pluginval.git
	branch = develop
[submodule "Submodules/clap-juce-extensions"]
	path = Submodules/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions.git
	branch = main
